{% extends 'index.html'  %}

{% block content %}

<h1 class="display-1">Sign Up Now</h1>
<p class="lead">Sign up below to join the Feedback Flask fam</p>

<form method="POST">

  {{ form.hidden_tag() }}

  {% for field in form
    if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field(class_="form-control") }}

    {% for error in field.errors %}
    <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
  </p>
  {% endfor %}

  <button class="btn btn-success" type="submit">Sign Up</button>

</form>
{% endblock %}