{% extends 'index.html' %} 

{% block content %}

<h1 class="display-4">Welcome to the Flask dungeon of secrets!</h1>
<p class="lead">Memes for days....</p>

<img src="https://miro.medium.com/max/932/1*-Qf7tXr42ZPGKPCkJQPHgw.webp">
<div></div>
<img src="https://miro.medium.com/max/1400/1*WX2EiCdNPqB1V4TJQbvd9w.webp">
<div></div>
<img src="https://miro.medium.com/max/932/1*-Qf7tXr42ZPGKPCkJQPHgw.webp">
<div></div>
<img src="https://miro.medium.com/max/1104/1*82gzUS7f_RiDf75b5FzRMQ.webp">


{% endblock %}